<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111332475213-k834v7o8t85uki7evmj2arp64f3b1pll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111332475213-k834v7o8t85uki7evmj2arp64f3b1pll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>111332475213-4o8gob98mrmkohjf539runku9l3qqt28.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4GtXVGXlBEDIWT1pLxM_kq2hvKoSehts</string>
	<key>GCM_SENDER_ID</key>
	<string>111332475213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dc.lipinski.firebaseyoutube</string>
	<key>PROJECT_ID</key>
	<string>fir-example-68b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-68b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111332475213:ios:64bfadeeb7c8899b16f704</string>
</dict>
</plist>